@inherits AuthorizedComponent
@page "/lembrete/criar"
@page "/lembrete/editar/{Id:int}"

<h1>@Titulo Lembrete</h1>

<hr />
<EditForm Model="@lembrete" OnValidSubmit="SalvarLembrete">
    <DataAnnotationsValidator />

    @if (isEdit)
    {
        <div class="mb-3">
            <div class="col-md-4">
                <label for="Id" class="form-label">Id</label>
            </div>
            <div class="col-md-4">
                <InputNumber class="form-control" @bind-Value="lembrete.Id" readonly="@isEdit" />
            </div>
        </div>
    }

    <div class="mb-3">
        <div class="col-md-4">
            <label for="Name" class="form-label">Descrição</label>
        </div>
        <div class="col-md-4">
            <InputText class="form-control" @bind-Value="lembrete.Descricao" readonly="@processing" />
            <ValidationMessage For="@(() => lembrete.Descricao)" />
        </div>
    </div>

    <div class="mb-3">
        <div class="col-md-4">
            <label for="Name" class="form-label">Horário</label>
        </div>
        <div class="col-md-4">
            <InputDate Type="InputDateType.Time" class="form-control" @bind-Value="lembrete.Horario" readonly="@processing" />
            <ValidationMessage For="@(() => lembrete.Horario)" />
        </div>
    </div>

    <div class="mb-3">
        <div class="col-md-4">
            <label for="Name" class="form-label">Pulsieras Associados</label>
        </div>
        <div class="col-md-4">
            <select multiple @bind="DispositivosSelecionados" class="form-control form-control">
                @foreach (var device in DispositivosDisponiveis)
                {
                    <option value="@device.DeviceId" onclik>@device.Descricao</option>
                }
            </select>
        </div>
    </div>


    <Loading IsLoading="processing">
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Salvar</button>
            <button class="btn btn-light" type="button" @onclick="Return">Retornar</button>
        </div>
    </Loading>
</EditForm>

@code {
    [Parameter]
    public int Id { get; set; }

    protected bool processing;
    protected string Titulo = "Criar";
    protected LembreteModel lembrete = new();
    protected bool isEdit = false;

    protected int[] DispositivosSelecionados { get; set; } = new int[] { };

    protected List<IoTDeviceModel> DispositivosDisponiveis { get; set; } = new();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);

        if (Id != 0)
        {
            Titulo = "Editar";
            isEdit = true;
        }

        if (firstRender)
        {
            processing = true;
            await CarregaDispositivos();
            lembrete.AssinaturaId = UsuarioLogado.AssinaturaId;
            lembrete.Horario = DateTime.UtcNow.Date;

            if (Id != 0)
            {
                var respostaBusca = await ApiCallHelper.Get<LembreteModel>($"/Lembrete/v1/RecuperaLembrete/{Id}", JwtToken);

                if (respostaBusca.Sucesso)
                {
                    lembrete = respostaBusca.Dados;
                    
                    if (respostaBusca.Dados.DispositivosAssociados != null)
                        DispositivosSelecionados = respostaBusca.Dados.DispositivosAssociados.ToArray();
                }
                
            }

            processing = false;
            StateHasChanged();
        }
    }

    protected async Task SalvarLembrete()
    {
        lembrete.DispositivosAssociados = DispositivosSelecionados.ToList();

        if (isEdit)
        {
            processing = true;
            var respostaEdit = await ApiCallHelper.Post<LembreteModel, LembreteModel>("/Lembrete/v1/Editar", lembrete, JwtToken);
            processing = false;

            if (respostaEdit.Sucesso)
                NavigationManager.NavigateTo("/lembrete");
            else
                await JsRuntime.InvokeVoidAsync("alert", respostaEdit.Mensagem);
        }
        else
        {
            processing = true;
            var respostaCreate = await ApiCallHelper.Post<LembreteModel, LembreteModel>("/Lembrete/v1/Criar", lembrete, JwtToken);
            processing = false;

            if (respostaCreate.Sucesso)
            {
                Id = respostaCreate.Dados.Id;
                await OnAfterRenderAsync(true);
            }
            else
                await JsRuntime.InvokeVoidAsync("alert", respostaCreate.Mensagem);
        }
    }

    protected async Task CarregaDispositivos()
    {
        var requisicaoDeviceAssinatura = await ApiCallHelper.Get<List<IoTDeviceModel>>($"Device/v1/RecuperaDevicesDaAssinatura/{UsuarioLogado.AssinaturaId}", JwtToken);

        if (requisicaoDeviceAssinatura.Sucesso)
            DispositivosDisponiveis = requisicaoDeviceAssinatura.Dados.Where(d => d.DeviceType == EnumDeviceType.Pulseira).ToList();
    }

    protected void Return() => NavigationManager.NavigateTo("/lembrete");
}